.title2 {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 23px;
  top: 220px;
  left: 978px;
  width: 320px;
  height: 28px;
  color: black;
}

.subTitle {
  position: absolute;
  color: black;
  top: 260px;
  left: 928px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 0.18px;
}

.box3 {
  position: absolute;
  width: 361px;
  height: 560px;
  top: 190px;
  /* bottom: 212px; */
  left: 883px;
}

.google1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 950px;
}

.apple1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 1038px;
}

.fb1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 1126px;
}

.createPassword {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 510px;
  left: 912px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.createPasswordInput {
  width: 310px;
  height: 40px;
  padding: 9px 15px;
  background-color: #ffffffd0;
  border: 1px solid #707070;
  border-radius: 25px;
  opacity: 1;
  z-index: 1;
}

.confirmPassword {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 588px;
  left: 912px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.confirmPasswordInput {
  width: 310px;
  height: 40px;
  padding: 9px 15px;
  background-color: #ffffffd0;
  border: 1px solid #707070;
  border-radius: 25px;
  opacity: 1;
  z-index: 1;
}

.registerButton1 {
  position: absolute;
  border-radius: 25px;
  padding: 10px;
  padding-left: 85px;
  font-size: 1rem;
  /* font-weight: 500; */
  margin: 0rem 0.8rem;
  box-shadow: 0px 3px 6px #00000029;
  background: #e7404a;
  top: 660px;
  left: 922px;
  /* border: none; */
  opacity: 1;
  font-family: "SF Pro Display";
  width: 270px;
  height: 53px;
  text-align: center;
  font-size: 22.8px;
}

.smallText {
  position: absolute;
  top: 552px;
  left: 930px;
  z-index: 1;
}

.visibility1 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 520px;
  left: 1185px;
  z-index: 2;
}

.visibility2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 597px;
  left: 1185px;
  z-index: 2;
}
