.title2 {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 23px;
  top: 220px;
  left: 978px;
  width: 320px;
  height: 28px;
  color: black;
}

.subTitle {
  position: absolute;
  color: black;
  top: 260px;
  left: 928px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 0.18px;
}

.box3 {
  position: absolute;
  width: 361px;
  height: 560px;
  top: 190px;
  /* bottom: 212px; */
  left: 883px;
}

.pw_modal {
  width: 360px;
  height: 500px;
  border: solid #e7404a;
  position: absolute;
  top: calc(50% - 250px);
  right: calc(50% - 360px);
  border-radius: 60px;
  background-color: white;
  /* z-index: 0; */
}

.google1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 950px;
}

.apple1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 1038px;
}

.fb1 {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 380px;
  left: 1126px;
}

/* .header {
  position: absolute;
  font-size: 22px;
  top: 27px;
  left: 470px;
  width: 129px;
  height: 26px;
} */
/* .header {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 45px;
  left: 470px;
  top: 34px;
  letter-spacing: 0.49px;
  color: #ffffff;
  height: 54px;
  text-align: left;
  white-space: nowrap;
} */

/* .rectangle1 {
  position: absolute;
  height: 80px;
  background-color: green;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 1920px;
  height: 80px;
  background-color: #e7404a;
  border: dashed;
  top: 0px;
  left: 0px;
  z-index: -1;
} */

.banner {
  background-color: #e7404a;
  width: 100vw;
  height: 80px;
}

.pw_modal_text {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.pw_wrapper {
  /* border: 1px dashed; */
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
}

.pw_input {
  border: 1px solid;
  border-radius: 20px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
}
.pw_input:focus {
  background-color: #ffe3e5;
  outline: none !important;
  box-shadow: 0px 3px 6px #00000029;
}
.pw_input::placeholder {
  opacity: 0.5;
}

.pw_subtext {
  /* border: 1px dashed; */
  margin: 3px 10% 15px 10%;
  font-size: 12px;
}

.registerBtn {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #e7404a;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.registerBtn:hover:enabled {
  background-color: #ffe3e5;
  color: #e7404a;
  /* color: white; */
  border: 1px solid;
}
.registerBtn:disabled {
  opacity: 0.5;
}

.pw_visible_icon {
  position: absolute;
  background-image: url('../Assets/visibility.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 38px;
  width: 50px;
  top: 1px;
  right: calc(10% + 1px);
  border-radius: 20px;
  border: none;
  /* border: 1px dashed; */
  background-color: white;
  /* width: 24px;
  height: 24px;
  top: 520px;
  left: 1185px;
  z-index: 2; */
}





.createPassword {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 510px;
  left: 912px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.createPasswordInput {
  width: 310px;
  height: 40px;
  padding: 9px 15px;
  background-color: #ffffffd0;
  border: 1px solid #707070;
  border-radius: 25px;
  opacity: 1;
  z-index: 1;
}

.confirmPassword {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 588px;
  left: 912px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid blue;
}

.confirmPasswordInput {
  width: 310px;
  height: 40px;
  padding: 9px 15px;
  background-color: #ffffffd0;
  border: 1px solid #707070;
  border-radius: 25px;
  opacity: 1;
  z-index: 1;
  border: 1px solid lime;
}

.registerButton1 {
  position: absolute;
  border-radius: 25px;
  padding: 10px;
  padding-left: 85px;
  font-size: 1rem;
  /* font-weight: 500; */
  margin: 0rem 0.8rem;
  box-shadow: 0px 3px 6px #00000029;
  background: #e7404a;
  top: 660px;
  left: 922px;
  /* border: none; */
  opacity: 1;
  font-family: "SF Pro Display";
  width: 270px;
  height: 53px;
  text-align: center;
  font-size: 22.8px;
}

.smallText {
  position: absolute;
  top: 552px;
  left: 930px;
  z-index: 1;
}

.visibility1 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 520px;
  left: 1185px;
  z-index: 2;
}

.visibility2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 597px;
  left: 1185px;
  z-index: 2;
}

.socialBtn {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  /* border: 1px solid red; */
  border-radius: 50%;
  cursor: pointer;
  margin: 0 15px 0 15px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 3; */
}
.socialBtn:hover:enabled {
  background-color: #ffe3e5;
}

.pw_background {
  position: relative;
  /* position: absolute;
  top: -70px;
  left: 372px;
  max-width: 1370px;
  height: 1080px;
  z-index: -1;
  position: absolute;
  top: -70px;
  left: 370px; */
  /* bottom: 70px; */
  /* max-width: 1370px; */
  /* height: 1080px; */
  /* style={{ */
  background-image: url('../Assets/shopping.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  /* -width: 1000px; */
  /* height: 80%; */
  /* width: 200px; width of container */
  /* height: 200px; height of container */
  /* object-fit: cover; */
  height: calc(100vh - 80px);
  min-height: 600px;
  min-width: 1000px;
  /* }} */
  /* z-index: 5; */
  /* margin-left: 30%; */
  /* margin-right: 8%; */
  border: none;
  /* border: 1px solid red; */
}
