.shopping {
  position: absolute;
  top: -70px;
  left: 370px;
  /* bottom: 70px; */
  max-width: 1370px;
  height: 1080px;
  z-index: -1;
}

.rectangle1 {
  position: absolute;
  width: 1920px;
  height: 80px;
  background-color: #e7404a;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.header {
  position: absolute;
  font-size: 22px;
  top: 27px;
  left: 470px;
  width: 129px;
  height: 26px;
}

.box {
  position: absolute;
  width: 350px;
  height: 485px;
  top: 230px;
  /* bottom: 212px; */
  left: 895px;
}

.title {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 23px;
  top: 265px;
  left: 905px;
  width: 320px;
  height: 28px;
}

.textBox {
  position: absolute;
  width: 315px;
  height: 50px;
  top: 305px;
  left: 912px;
  z-index: 1;
}

.textBox2 {
  position: absolute;
  width: 315px;
  height: 50px;
  top: 355px;
  left: 912px;
  z-index: 1;
}

.login1 {
  position: absolute;
  /* top: 415px;
  left: 910px; */
  /* width: 325px;
  height: 59px; */
  transform: translate(230px, 270px) scale(0.18);
}

.textContent {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 16px;
  top: 318px;
  left: 930px;
  color: #000000;
  /* width: 191px;
  height: 19px; */
  z-index: 1;
  white-space: nowrap;
}

.textContent2 {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 16px;
  top: 368px;
  left: 930px;
  width: 66px;
  height: 19px;
  z-index: 1;
}

.text1 {
  position: absolute;
  font-family: "SF Pro Display";
  font-size: 23px;
  top: 510px;
  left: 1005px;
  width: 151px;
  height: 28px;
}

.visibility {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 368px;
  left: 1185px;
  z-index: 1;
}

.google {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 545px;
  left: 935px;
}

.apple {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 545px;
  left: 1050px;
}

.fb {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 545px;
  left: 1160px;
}

.text2 {
  position: absolute;
  z-index: 1;
  top: 630px;
  left: 955px;
  font-size: 15px;
  /* width: 282px; */
  height: 21px;
}
