.container {
  padding: 0px 60px;
  width: 100%;
  margin: 0px;
}

.section {
  border-radius: 15px;
  border: 1px solid #e7404a;
  margin: 10px auto 10px auto;
  padding: 10px;
}

.headerText {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.headerButtonWhite {
  width: 169px;
  height: 33px;
  background-color: white;
  color: #e7404a;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  border: none;
}

.datebutton {
  height: 80px;
  width: 50px;
  font-size: 15px;
  border: solid;
  border-radius: 25px;
  text-align: center;
  border: none;
}

.datebuttonNotSelected {
  box-shadow: 0 0 7px #838383;
  background-color: white;
}

.datebuttonSelected {
  background-color: #e7404a;
  border: 4px solid #e7404a;
  color: white;
}

.carouselSlider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dateCarouselArrowBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.redLabelHeader {
  color: #e7404a;
  font-size: 15px;
}

.tableSearch {
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #707070;
  margin: 5px;
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 40px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00cc00;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.whiteButton {
  height: 50px;
  width: 322px;
  background-color: white;
  border: 1px solid #e7404a;
  border-radius: 25px;
  color: #e7404a;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: bold;
}
.redButton {
  height: 50px;
  width: 322px;
  background-color: #e7404a;
  border: 1px solid #e7404a;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: bold;
}

.unit_dropdown {
  /* display: block; */
  /* border: none; */
  width: 100%;
  /* border: 1px solid green; */
  cursor: pointer;
  /* text-align: center; */
  /* padding-right: 26px; */
  /* padding: 5px 26px 5px 5px; */
  /* padding: 5px; */
}
.unit_dropdown:focus {
  outline: 0;
}

.dropdownArrow {
  /* display: inline-block;
  appearance: none;
  cursor: pointer; */
  background: url("../../../images/RedDropdown.svg") no-repeat;
  background-size: contain;
  background-color: white;
  /* background-position: right 0px top 40%;  */
  pointer-events: none;
  position: absolute;
  /* bottom: 1px; */
  /* top: 6px;
  right: 4px; */
  top: 1px;
  right: 1px;
  /* z-index: 100; */
  /* border: 1px solid blue; */
  /* border: 1px 1px 1px 0 solid #e7404a; */
  /* width: 20px;
  height: 30px; */
  width: 16px;
  height: 20px;
  /* height: calc(100% - 2px); */
  /* height: 100% */
  /* background-position: right 5px top 50%; */

  /* padding-left: 10px;
  border: 1px solid #e7404a;
  height: 40px;
  color: black;
  background-color: white;
  outline: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background: url("../../../images/RedDropdown.svg") no-repeat;
  background-position: right 5px top 50%; */
}

.tableCell {
  text-align: center;
}
/* TableCell {
  text-align: center;
} */
