.container {
  padding: 0px 60px;
  width: 100%;
  margin: 0px;
}

.section {
  border-radius: 15px;
  border: 1px solid #e7404a;
  margin: 10px auto 10px auto;
  padding: 10px;
}
.headerText {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.headerButtonWhite {
  width: 169px;
  height: 33px;
  background-color: white;
  color: #e7404a;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  border: none;
}
